pip==25.0.1
wandb==0.22.2
torchinfo==1.8.0
sentry-sdk==2.42.0
pip==25.0.1
google-resumable-media==2.7.2
weasel==0.4.1
tensorflow-estimator==2.15.0
traitlets==5.14.3
protobuf==5.29.4
absl-py==1.0.0
google-cloud-core==2.4.3
tornado==6.4.2
PyYAML==6.0.2
pybind11==3.0.0
evaluate==0.4.3
jupyter_core==5.7.2
kiwisolver==1.4.8
pure-eval==0.2.2
rfc3986-validator==0.1.1
idna==3.7
tifffile==2024.12.12
zstd==1.5.5.1
yapf==0.40.2
jupyter_client==8.6.3
cachetools==5.5.1
jupyter_server==2.14.1
stanio==0.5.1
ptyprocess==0.7.0
multimethod==1.12
json5==0.9.25
google-api-core==2.20.0
google-cloud-storage==2.10.0
lightgbm==4.6.0
Jinja2==3.1.5
Cython==3.0.12
datasets==3.5.0
uvicorn==0.35.0
nodeenv==1.9.1
rope==1.12.0
hjson==3.1.0
attrs==24.3.0
python-json-logger==3.2.1
stack-data==0.2.0
anyio==4.6.2
nvidia-cusparse-cu12==12.5.4.2
imageio==2.37.0
gast==0.4.0
circuitbreaker==2.1.3
beautifulsoup4==4.12.3
google-pasta==0.2.0
mdit-py-plugins==0.3.0
fonttools==4.55.3
puremagic==1.30
importlib_resources==6.5.2
tinycss2==1.4.0
pyarrow==19.0.1
proto-plus==1.26.1
azure-storage-file-datalake==12.17.0
notebook_shim==0.2.3
linkify-it-py==2.0.0
ml_dtypes==0.5.3
jupyterlab-widgets==1.0.0
phik==0.12.5
llvmlite==0.44.0
colorlog==6.9.0
jsonschema-specifications==2023.7.1
safetensors==0.6.2
colorful==0.5.7
PyNaCl==1.5.0
aiohttp==3.11.10
ipykernel==6.29.5
spacy==3.7.5
py-spy==0.4.1
astunparse==1.6.3
aiohappyeyeballs==2.4.4
srsly==2.5.1
keras==3.5.0
Farama-Notifications==0.0.4
pluggy==1.5.0
joblib==1.4.2
azure-storage-blob==12.23.0
pytoolconfig==1.2.6
pip==25.0.1
namex==0.1.0
lightning-utilities==0.15.2
graphql-core==3.2.4
jmespath==1.0.1
importlib-metadata==6.6.0
PyJWT==2.10.1
tf_keras==2.19.0
executing==0.8.3
multiprocess==0.70.16
click==8.1.7
prometheus_client==0.21.0
azure-mgmt-core==1.6.0
py-cpuinfo==9.0.0
deepspeed==0.16.5
fastjsonschema==2.21.2
s3transfer==0.11.3
ninja==1.11.1.4
httpcore==1.0.2
optuna==3.6.1
python-lsp-server==1.12.0
sklearn-compat==0.1.3
sentence-transformers==4.0.1
gql==4.0.0
astor==0.8.1
backoff==2.2.1
fasttext-wheel==0.9.2
starlette==0.47.2
opencensus==0.11.4
pytesseract==0.3.10
pooch==1.8.2
iniconfig==1.1.1
jupyter_server_terminals==0.4.4
pytz==2024.1
langsmith==0.1.133
preshed==3.0.10
certifi==2025.1.31
ipywidgets==7.8.1
pyasn1==0.4.8
threadpoolctl==3.5.0
oci==2.158.2
tensorboard-data-server==0.7.2
rpds-py==0.22.3
python-dateutil==2.9.0.post0
mccabe==0.7.0
Mako==1.2.0
GitPython==3.1.43
nest-asyncio==1.6.0
triton==3.3.0
sniffio==1.3.0
nvidia-cusparselt-cu12==0.6.3
grpcio==1.67.0
matplotlib-inline==0.1.7
terminado==0.17.1
psutil==5.9.0
networkx==3.4.2
category-encoders==2.6.3
typeguard==4.4.2
python-lsp-jsonrpc==1.1.2
jsonpointer==3.0.0
mistune==2.0.4
nvidia-cuda-nvrtc-cu12==12.6.77
databricks-automl-runtime==0.2.21
pytorch-ranger==0.1.1
mosaicml-cli==0.6.41
catalogue==2.0.10
marisa-trie==1.2.0
MarkupSafe==3.0.2
prophet==1.1.6
grpcio-status==1.67.0
jupyterlab-pygments==0.1.2
jsonschema==4.23.0
azure-mgmt-web==8.0.0
argon2-cffi==21.3.0
holidays==0.54
libclang==15.0.6.1
thinc==8.2.4
uri-template==1.3.0
sentencepiece==0.2.0
boto3==1.36.2
torch-optimizer==0.3.0
optuna-integration==3.6.0
arrow==1.3.0
langchain-core==0.3.63
SQLAlchemy==2.0.37
opt_einsum==3.4.0
cycler==0.11.0
argon2-cffi-bindings==21.2.0
matplotlib==3.10.0
tzdata==2024.1
pyccolo==0.0.71
packaging==24.2
yarl==1.18.0
ipython==8.30.0
strictyaml==1.7.3
einops==0.8.1
azure-common==1.1.28
opentelemetry-api==1.36.0
httpx==0.27.0
charset-normalizer==3.3.2
dill==0.3.8
webencodings==0.5.1
pytest==8.3.5
msgpack==1.1.1
confection==0.1.5
azure-cosmos==4.3.1
tiktoken==0.9.0
pillow==11.1.0
python-snappy==0.7.3
langcodes==3.5.0
nvidia-cufile-cu12==1.11.1.6
tokenize_rt==6.1.0
oauthlib==3.2.0
flash_attn==2.7.4.post1
types-python-dateutil==2.9.0.20250809
questionary==2.1.0
pydantic==2.10.6
ujson==5.10.0
memray==1.18.0
opentelemetry-semantic-conventions==0.57b0
jedi==0.19.2
nltk==3.9.1
future==0.18.3
scipy==1.15.1
nvidia-curand-cu12==10.3.7.77
prompt-toolkit==3.0.43
widgetsnbextension==3.6.6
gunicorn==20.1.0
wordcloud==1.9.4
cffi==1.17.1
language_data==1.3.0
nvidia-cufft-cu12==11.3.0.4
chardet==4.0.0
ipython-genutils==0.2.0
comm==0.2.1
flatbuffers==25.2.10
databricks-feature-engineering==0.12.1
dm-tree==0.1.9
pandocfilters==1.5.0
pydantic_core==2.27.2
requests-toolbelt==1.0.0
openai==1.69.0
tomli==2.0.1
PyWavelets==1.8.0
async-lru==2.0.4
pandas==2.2.3
slicer==0.0.8
orjson==3.11.2
bcrypt==3.2.0
filelock==3.13.1
frozenlist==1.5.0
bleach==6.2.0
shap==0.47.1
contourpy==1.3.1
zipp==3.21.0
typer==0.16.1
pyOpenSSL==24.2.1
wasabi==1.1.3
asttokens==2.0.5
pycparser==2.21
python-editor==1.0.4
joblibspark==0.6.0
torchvision==0.22.0
google-auth==2.40.3
Werkzeug==3.1.3
soxr==0.5.0.post1
soupsieve==2.5
fastapi==0.116.1
facets-overview==1.1.1
decorator==5.1.1
Markdown==3.4.1
nbformat==5.10.4
websockets==15.0.1
urllib3==2.3.0
simplejson==3.17.6
mlflow-skinny==3.0.1
mosaicml-streaming==0.12.0
entrypoints==0.4
nvidia-nvjitlink-cu12==12.6.85
google-crc32c==1.7.1
configparser==5.2.0
validators==0.35.0
xgboost==3.0.0
databricks-sdk==0.49.0
nvidia-cuda-cupti-cu12==12.6.80
fsspec==2023.5.0
torchmetrics==1.6.0
wrapt==1.17.0
aiosignal==1.2.0
azure-core==1.35.0
pexpect==4.8.0
Send2Trash==1.8.2
audioread==3.0.1
ray==2.37.0
aiohttp-cors==0.8.1
nvidia-cuda-runtime-cu12==12.6.77
tqdm==4.67.1
scikit-learn==1.6.1
scikit-image==0.25.0
tabulate==0.9.0
pyasn1-modules==0.2.8
psycopg2==2.9.3
markdown-it-py==2.2.0
lazy_loader==0.4
typing_extensions==4.12.2
nvidia-cublas-cu12==12.6.4.1
webcolors==24.11.1
smart_open==7.3.0.post1
langchain==0.3.21
botocore==1.36.3
argcomplete==3.6.2
imbalanced-learn==0.13.0
black==24.10.0
pyright==1.1.394
cryptography==43.0.3
mdurl==0.1.0
overrides==7.4.0
nvidia-nccl-cu12==2.26.2
cmdstanpy==1.2.5
librosa==0.11.0
blis==0.7.11
torch==2.7.0
opencensus-context==0.1.3
htmlmin==0.1.12
babel==2.16.0
jupyterlab_server==2.27.3
whatthepatch==1.0.2
sqlparse==0.4.2
soundfile==0.13.1
jax-jumpy==1.0.0
msal-extensions==1.3.1
regex==2024.11.6
pyiceberg==0.9.0
lz4==4.3.2
optree==0.17.0
spacy-legacy==3.0.12
mmh3==5.2.0
uc-micro-py==1.0.1
Flask==2.2.5
jupyterlab==4.3.4
rich==13.9.4
jupyter-lsp==2.2.0
rfc3339-validator==0.1.4
requests==2.32.3
ydata-profiling==4.16.1
msal==1.33.0
isoduration==20.11.0
murmurhash==1.0.13
notebook==7.3.2
greenlet==3.1.1
cramjam==2.11.0
huggingface-hub==0.30.2
nbclient==0.8.0
tokenizers==0.21.0
isodate==0.6.1
propcache==0.2.0
plotly==5.24.1
Pygments==2.15.1
pathspec==0.10.3
spacy-loggers==1.0.5
seaborn==0.13.2
sympy==1.13.3
ruamel.yaml.clib==0.2.12
paramiko==3.4.0
ImageHash==4.3.1
dacite==1.9.2
h5py==3.12.1
platformdirs==3.10.0
dbl-tempo==0.1.26
wcwidth==0.2.5
visions==0.8.1
azure-identity==1.20.0
termcolor==3.1.0
numba==0.61.0
pyodbc==5.2.0
gitdb==4.0.11
ruamel.yaml==0.18.15
nvidia-cusolver-cu12==11.7.1.2
pyparsing==3.2.0
patsy==1.0.1
multidict==6.1.0
tenacity==9.0.0
Brotli==1.1.0
websocket-client==1.8.0
gymnasium==0.28.1
annotated-types==0.7.0
statsmodels==0.14.4
debugpy==1.8.11
transformers==4.51.3
numpy==2.1.3
jupyter-events==0.10.0
xxhash==3.5.0
jiter==0.10.0
fqdn==1.5.1
shellingham==1.5.4
jsonpatch==1.33
cloudpathlib==0.21.1
docstring-to-markdown==0.11
referencing==0.30.2
googleapis-common-protos==1.65.0
pmdarima==2.0.4
parso==0.8.4
requests-oauthlib==1.3.1
torcheval==0.0.7
xgboost-ray==0.1.19
tensorboard==2.19.0
mypy-extensions==1.0.0
pyzmq==26.2.0
nvidia-nvtx-cu12==12.6.77
tensorboardX==2.6.4
cymem==2.0.11
defusedxml==0.7.1
opentelemetry-sdk==1.36.0
mpmath==1.3.0
nvidia-cudnn-cu12==9.5.1.17
sortedcontainers==2.4.0
itsdangerous==2.2.0
cloudpickle==3.0.0
langchain-text-splitters==0.3.8
accelerate==1.5.2
nbconvert==7.16.4
h11==0.14.0
tensorflow==2.19.0
coolname==2.2.0
smmap==5.0.0
pyflakes==3.2.0
textual==4.0.0
rsa==4.9.1
ipyflow-core==0.0.209
setuptools==74.0.0
distlib==0.3.9
pip==25.0.1
filelock==3.18.0
platformdirs==4.3.7
wheel==0.45.1
virtualenv==20.29.3
lazr.uri==1.0.6
distro==1.9.0
distro-info==1.7+build1
cryptography==41.0.7
cryptography==41.0.7
lazr.restfulclient==0.14.6
wadllib==1.3.6
dbus-python==1.3.2
pyparsing==3.1.1
packaging==24.0
PyGObject==3.48.2
launchpadlib==1.11.0
python-apt==2.7.7+ubuntu5
unattended-upgrades==0.1
ssh-import-id==5.11
six==1.16.0
httplib2==0.20.4
oauthlib==3.2.2
PyJWT==2.7.0
blinker==1.7.0
